:root{
--backround: #000000;
--prilymary: #FFFFFF;
--acsent:#D23166;
--secondary: #FAFAFA;
--graytext: rgb(95, 89, 89);
--graybackround: rgb(39, 38, 38);
}
body{
    color:var(--prilymary);
    background-color: var(--backround);
}
.hero__title {
font-family: "Alexandria";
font-size: 57px;
line-height: 94%;
  letter-spacing: -7%;
}

.hero__title span {
    color: var(--acsent);
}
.primary-text {
font-family: "Manrope";
font-size: 18px;
line-height: 27px;
}


.nav-list a {
 color: white;
 text-decoration: none;
 font-family: "Alexandria";
 max-width: 507px;
 width: 100%;
 display: flex;
 justify-content: space-between
 
 
}
header{

display: flex;
justify-content: space-between


}

.social-list {
  display: flex; 
  list-style: none; 
}
.hero__text {
  font-family: "Manrope";
}
.hero__text2 {
  line-height: 27px;
  font-family: "Manrope";
  letter-spacing: 0%;
  color: var(--graytext);
}
.hero_link {
text-decoration: none;
color: var(--secondary);
background-color: #D23166;
border-radius: 5px;
font-size: 30px;
font-family:"Alexandria";
}
.about_us__text {
  font-size: 57.33px;
  font-family: "Alexandria";
  letter-spacing: -7%;
  justify-content: center
  
}
.about_us__span {
  color: var(--graytext);
}
.our_product__h2 {
  font-family: "Roboto";
  letter-spacing: -7%;
  font-size: 56px;
}
.our_product__buyicecream {
background-color: var(--graybackround);
font-family:"Roboto" ;
list-style: none;

}
.our_product__text {
  color: var(--graytext);
  
}
.our_product__price {
  font-family: "Roboto";
}
.our_product__lastprice {
  text-decoration: line-through;
  color: gray;
}
.our_product__link {
text-decoration: none;
color: var(--secondary);
background-color: #D23166;
border-radius: 5px;
font-size: 30px;
font-family:"Roboto";
}
.app__h2 {
  font-family: "Roboto";
  font-size: 56px;
  letter-spacing: -7%;
  line-height: 94%;
}
.app__text {
font-family: "Manrope";
line-height: 27px;
font-size: 18px;
color: gray;
}
.app__ol {
  color: gray;
  font-family: "Manrope";
  line-height: 27px;
  font-size: 18px;
}
.contact_form__h2 {
  font-family: "Alexandria";
  letter-spacing: -7%;
  justify-content: center;
  line-height: 94%;
  font-size: 57.33px;
}
.contact_form__h2_color {
  color: var(--acsent);
}
 .contact_form__input {
  border-radius: 50px;
  border-color: #FFFFFF;
  background: transparent;
  display: flex;
  flex: 1;
  font-size: 20px;
 }
.contact_form__button {
text-decoration: none;
color: var(--secondary);
background-color: #D23166;
border-radius: 5px;
font-size: 30px;
font-family:"Roboto";
justify-content: center
}
.footer {
  font-family: "Manrope";
  background-color: var(--graybackround);
}
 .footer__text {
  color: var(--graytext);
 }
 .footer__ul {
  color: rgb(167, 165, 165);
  text-decoration: none;
 }
 .footer__main {
  color: var(--secondary);
 }
.hero {
  display: flex;
  justify-content: center
}
.hero__right {
 width: 588px;
  height: 588px;
}
.hero__left {
  width: 587px;
  
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
.about_us__hide {
  color: #000000;
}
.about_us__img1 {
  width: 137px;
  top: -55px;
  left: 876px;
}
.about_us__img2 {
  width: 144px;
  top: 170px;
  left: 33px;
  height: 144px;
}
.about_us__img3 {
  width: 90px;
  top: 270px;
  left: 624px;
  height: 90px;
}
.about_us__box {
  position: relative;
}
.about__image {
  position: absolute;
  aspect-ratio: 1/1;
}
.about_us {
  padding: 60px 96px 60px 96px;
  gap: 10px;
  width: 1,248px;
  
}

.app {
  display: flex;
 padding: 60px 96px 60px 96px;
  gap: 10px;
 
}
.app__left {
  width: 466px;
  height: 561px;
}
.app__right {
width: 782px;
height: 810px;
}

.contact_form {
  padding: 286px 393px 286px 393px;
  height: 684px;
  width: 1,439px;
   align-items: center;
}
.contact_form__h2 {
  height: 115px;
  width: 653px;
justify-content: space-between;
}
.contact_form__form {
  display: flex;
  font-family: Alexandria;
}
.footer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


 

