:root {
 --color: #545353;
 --color1: #000;



}
header{
text-align: center;
background-color: var(--color);
font-family:"Montserrat", sans-serif;
font-size: 18px
color var(--color1) ;
}
.mont{
    font-family:"Montserrat", sans-serif;
}




    


